{% extends 'base.html' %}
{% block title %} Summary {% endblock %}
{% block body %}
{% if check %}
{{message}}
{% else %}
{% if select == 1 %}
{% for i,j in cfs %}
{{i}}
<table class="table table-borderless table-striped table-earning">
        <thead>
          
            <tr>
                {% for k,l in j.items %}
                <th>{{k}}</th>
                
              </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>{{l}}</td>
                {% endfor %}
              </tr>
              
        </tbody>
    </table> 
    {% endfor %}
{% elif select == 2 %}
<table class="table table-borderless table-striped table-earning">
    <thead>
      {% for i,j in yb %}
        <tr>
 
            <th>{{i}}</th>
            <th>{{j.0}}</th>
            <th>{{j.1}}</th>
            <th>{{j.2}}</th>

         </tr>
    </thead>
    <tbody>
        {% endfor %}
    </tbody>
</table>
{% elif select == 3 %}
<table class="table table-borderless table-striped table-earning">
    <thead>
      {% for i,j in ltc %}
        <tr>
 
            <th>{{i}}</th>
            <th>{{j.0}}</th>
            <th>{{j.1}}</th>
            <th>{{j.2}}</th>

         </tr>
    </thead>
    <tbody>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
